<!DOCTYPE html>
<html>
<head>
    <title>ReadBox</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
<div class="logoWrap">
    <div class="logo"></div>
</div>
<div class="contentBox container">
    <ul>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56694cbc1721eaaa54d0f25b" target="_blank">
                        【CTO讲堂】揭秘高效协作工具背后的技术架构-CSDN.NET
                    </a>
                </div>
                <div class="summaryBox">(function(){
                    var _w = 22 , _h = 16;
                    var article_description=$(&#34;#article_description&#34;).val();
                    var param = {
                    url:location.href,
                    type:&#39;3&#39;,
                    count:&#39;&#39;, /**是否显示分享数，1显示(可选)*/
                    ...</div>
                <div class="memoBox">2015-12-10采集于www.csdn.net</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56694c0b1721eaaa54d0f259" target="_blank">
                        A Compact React Cookbook
                    </a>
                </div>
                <div class="summaryBox">Immutable 是函数式的概念之一，一旦创建出来之后，就不能再改变。因此，当你想对其做修改，就得弄一个新的。









                    好奇的同学要问了，但是 React 看起来是面向对象的啊。 createClass ， state ，函数式有状态...</div>
                <div class="memoBox">2015-12-10采集于<img class="siteIco" src="https://blog.oyanglul.us/assets/favicon-16x16.png"/>blog.oyanglul.us</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56678a021721eaaa54d0f257" target="_blank">
                        解耦神器 —— 统跳协议和Rewrite引擎
                    </a>
                </div>
                <div class="summaryBox">题记：天猫App长大了，已经长成了流量以千万计规模的App，当下至少有10个团队在直接维护天猫App。在App长大，团队扩充的过程中解耦是一个永恒的话题，而界面解耦又是App架构的重中之重。

                    统跳协议是天猫App统一跳转...</div>
                <div class="memoBox">2015-12-09采集于pingguohe.net</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/566788ea1721eaaa54d0f255" target="_blank">
                        杰微刊-[译]如何架构一个 React 项目？- 文章
                    </a>
                </div>
                <div class="summaryBox">原文链接：How to Structure a React Project?


                    作者：Juho Veps?l?inen


                    译者：杰微刊－Leo Xu


                    编者注：请检出React 独立开发包（React Indie Bundle） 。它是在 Juho 同许多其他的 React 社区成员的帮助下被组...</div>
                <div class="memoBox">2015-12-09采集于<img class="siteIco" src="http://www.jointforce.com/jfperiodical/styles/skin/simple/images/logo.png"/>www.jointforce.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/566788e11721eaaa54d0f253" target="_blank">
                        PHP7正式发布
                    </a>
                </div>
                <div class="summaryBox">今天临晨的时候, 在我们已经到了12月4日, 但是美国时间还是10月3日的时候, PHP7终于正式发布了.官方的Release Note可以参看php.net:&#34;The PHP development team announces the immediate availability of PHP 7.0.0. ...</div>
                <div class="memoBox">2015-12-09采集于<img class="siteIco" src="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/common/favicon22c41b.ico"/>mp.weixin.qq.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5664ecc11721eaaa54d0f250" target="_blank">
                        Crisp&#39;s Blog
                    </a>
                </div>
                <div class="summaryBox">Agile product development has become the norm in many industries (especially software). That means products are developed by small, self-organizing, cross-functional teams, and delivered in small incr...</div>
                <div class="memoBox">2015-12-07采集于<img class="siteIco" src="http://blog.crisp.se/favicon.ico"/>blog.crisp.se</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/565fa1a51721eaaa54d0f248" target="_blank">
                        从3张图了解Pinterest Feed算法与架构设计
                    </a>
                </div>
                <div class="summaryBox">Pinterest首页的Feed消息流，最早是按照用户的关注对象的Pin（Pin类似微博）聚合后按时间进行排序（自然序，类似朋友圈），后来版本的feed系统放弃了自然序，而是根据一定规则及算法来设计，内部称之为Smart feed，...</div>
                <div class="memoBox">2015-12-03采集于<img class="siteIco" src="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/images/icon/common/favicon22c41b.ico"/>mp.weixin.qq.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/565f9f35be961b2f490f8de1" target="_blank">
                        对抗拖库 —— Web 前端慢加密
                    </a>
                </div>
                <div class="summaryBox">0×00 前言
                    天下武功，唯快不破。但密码加密不同。算法越快，越容易破。
                    0×01 暴力破解
                    密码破解，就是把加密后的密码还原成明文密码。似乎有不少方法，但最终都得走一条路：暴力穷举。
                    也许你会说还可以查表，瞬间就...</div>
                <div class="memoBox">2015-12-03采集于<img class="siteIco" src="http://web.jobbole.com/wp-content/uploads/sites/11/2014/12/favicon.png"/>web.jobbole.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/565f9eb655f312e956c53735" target="_blank">
                        《前端面试秘籍》课程，轻松打造一个强悍的自己，秒杀面试!
                    </a>
                </div>
                <div class="summaryBox">经常听到同学们发出这样的疑问：
                    我们技术水平都差不多，为什么他拿到了offer，而我却被刷下来了！？
                    我觉得我的技术还不错啊，为什么一做面试题就卡在那里了。
                    我工作经验不足，如何才能让企业看重我，怎样包装自己...</div>
                <div class="memoBox">2015-12-03采集于www.w3cfuns.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5656a4c255f312e956c53730" target="_blank">
                        规则引擎简介 -- 系统架构 -- IT技术博客大学习 -- 共学习 共进步！
                    </a>
                </div>
                <div class="summaryBox">(adsbygoogle = window.adsbygoogle || []).push({});




                    现实生活中，规则无处不在。法律、法规和各种制度均是；对于企业级应用来说，在IT技术领域，很多地方也应用了规则，比如路由表，防火墙策略，乃至角色权限...</div>
                <div class="memoBox">2015-11-26采集于blogread.cn</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56552a5d280fcaac1e096e85" target="_blank">
                        稀土掘金：JavaScript 中的 this 陷阱的最全收集
                    </a>
                </div>
                <div class="summaryBox">当有人问起你JavaScript有什么特点的时候，你可能立马就想到了单线程、事件驱动、面向对象等一堆词语，但是如果真的让你解释一下这些概念，可能真解释不清楚。有句话这么说：如果你不能向一个6岁小孩解释清楚一个东...</div>
                <div class="memoBox">2015-11-25采集于gold.xitu.io</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56540071280fcaac1e096e83" target="_blank">
                        从 React Router 谈谈路由的那些事
                    </a>
                </div>
                <div class="summaryBox">React Router 是专为 React 设计的路由解决方案，在使用 React 来开发 SPA （单页应用）项目时，都会需要路由功能，而 React Router 应该是目前使用率最高的。
                    React Router 并不是 Facebook 的 React 官方团队开发...</div>
                <div class="memoBox">2015-11-24采集于<img class="siteIco" src="http://web.jobbole.com/wp-content/uploads/sites/11/2014/12/favicon.png"/>web.jobbole.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564e8940280fcaac1e096e81" target="_blank">
                        在iOS上绘制自然的签名
                    </a>
                </div>
                <div class="summaryBox">在iOS上绘制自然的签名这里有一篇很棒的文章写如何在Android上获取流畅的签名：Smoother Signatures，但是我没有找到一篇是写在iOS上如何实现。那么，究竟怎么做才能在iOS设备上获取用户的签名呢？虽然我没有找到任...</div>
                <div class="memoBox">2015-11-20采集于<img class="siteIco" src="http://c.csdnimg.cn/public/favicon.ico"/>blog.csdn.net</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564dc60d280fcaac1e096e7f" target="_blank">
                        使用性能API快速分析web前端性能
                    </a>
                </div>
                <div class="summaryBox">页面的性能问题一直是产品开发过程中的重要一环，很多公司也一直在使用各种方式监控产品的页面性能。从控制台工具、Fiddler抓包工具，到使用DOMContentLoaded和document.onreadystatechange这种侵入式javascript代码...</div>
                <div class="memoBox">2015-11-19采集于<img class="siteIco" src="http://static.segmentfault.com/v-564daa62/global/img/favicon.ico"/>segmentfault.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564d8837280fcaac1e096e7d" target="_blank">
                        [译]Express在生产环境下的最佳实践
                    </a>
                </div>
                <div class="summaryBox">前言
                    这将是一个分为两部分，内容是关于在生产环境下，跑Express应用的最佳实践。第一部分会关注安全性，第二部分最会关注性能和可靠性。当你读这篇文章时，假设你已经对Node.js和web开发有所了解，并且对生产环境有...</div>
                <div class="memoBox">2015-11-19采集于<img class="siteIco" src="http://static.segmentfault.com/~564d822a/global/img/favicon.ico"/>segmentfault.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564bffa1280fcaac1e096e7b" target="_blank">
                        移动端Web App自适应布局探索与总结_HTML5中国_最大的HTML5中文门户
                    </a>
                </div>
                <div class="summaryBox">　　1、困扰多时的问题

                    　　在这之前做Web App开发的时候，在自适应方面一般都是宽度通过百分比，高度以iPhone6跟iPhone5之间的一个平衡值写死，我们的设计稿都是iPhone5的640*1136标准，所以高度一般取个大概值，...</div>
                <div class="memoBox">2015-11-18采集于www.html5cn.org</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564bff98280fcaac1e096e79" target="_blank">
                        稀土掘金：nodejs stream 手册
                    </a>
                </div>
                <div class="summaryBox">stream-handbook

                    stream-handbook的完整中文版本

                    nodejs stream 手册


                    写在前面的话:
                    如果你正在学习Nodejs，那么流一定是一个你需要掌握的概念。如果你想成为一个Node高手，那么流一定是武功秘籍中不可缺少的一...</div>
                <div class="memoBox">2015-11-18采集于gold.xitu.io</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564bff34280fcaac1e096e77" target="_blank">
                        人人网首页拖拽上传详解(HTML5 Drag&amp;Drop、FileReader API、formdata) -- JavaScript -- IT技术博客大学习 -- 共学习 共进步！
                    </a>
                </div>
                <div class="summaryBox">(adsbygoogle = window.adsbygoogle || []).push({});




                    　　早在公元2011年6月3日傍晚，人人网推出了一个很装B且完全无视IE浏览器的功能——拖拽上床。哦，Sorry, 是拖拽上传。到现在，这个功能已经上线了整整半...</div>
                <div class="memoBox">2015-11-18采集于blogread.cn</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/564a9b90280fcaac1e096e75" target="_blank">
                        【canvas教程】前端如何呼风唤雨_HTML5中国_最大的HTML5中文门户
                    </a>
                </div>
                <div class="summaryBox">创世纪第一章首卷原文起初我创造了canvas 。我说,要有雨,就有了雨；我说,要有雪,就有了雪。而对于前端来说，canvas即是天地在canvas这个天地上，前端可以呼风唤雨，无所不能。
                    ------------------------------------...</div>
                <div class="memoBox">2015-11-17采集于www.html5cn.org</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5645f9c9280fcaac1e096e73" target="_blank">
                        强大的视差响应动画滑动图片切换效果_Helloweba
                    </a>
                </div>
                <div class="summaryBox">这是一款非常强大的内容切换插件，它基于jQuery，它充分响应，支持移动设备，支持手机触摸，键盘翻页；它内置幻灯、视频播放计时器，它拥有各种模式：自定义，自动响应，全屏；它有多种动画效果、3d效果...总之你想...</div>
                <div class="memoBox">2015-11-13采集于www.helloweba.com</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5645637a280fcaac1e096e71" target="_blank">
                        Pull Request的正确打开方式（如何在GitHub上贡献开源项目）
                    </a>
                </div>
                <div class="summaryBox">GitHub的官方帮助如下：


                    发现这个官方文档写得比较简单，并没有提到开源项目协作方式的一些必要的trick（比如建立topic branch），还有PullRequest的运作细节也没有提到。写个简单的总结补充一下。
                    Step 1: Fork原...</div>
                <div class="memoBox">2015-11-13采集于<img class="siteIco" src="http://c.csdnimg.cn/public/favicon.ico"/>blog.csdn.net</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56455b04dfe5718e6dd18ba4" target="_blank">
                        Neural Network Generative Art in Javascript – 大トロ
                    </a>
                </div>
                <div class="summaryBox">&amp;nbsp;tits (2015)
                    neural network generative art javascript demo.
                    higher resolution w/ png export demo here (slower).
                    Recently, google’s&amp;nbsp;work on generating art from convolutional neural networks ...</div>
                <div class="memoBox">2015-11-13采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56454248bf44bc94538c2da5" target="_blank">
                        移动端开发小记 - Flexbox
                    </a>
                </div>
                <div class="summaryBox">在开发移动端页面的时候，出去布局方便和减少代码量的考虑，使用了 Flexbox 的布局方式，在其中也遇到了一些问题，简单记录下。
                    什么是 Flexbox说到 Flexbox，大家应该都不陌生，网络上也有 N 多的教程。但是在这里...</div>
                <div class="memoBox">2015-11-13采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56440db7bf44bc94538c2da3" target="_blank">
                        详解CSS float属性
                    </a>
                </div>
                <div class="summaryBox">CSS中的float属性是一个频繁用到的属性，对于初学者来说，如果没有理解好浮动的意义和表现出来的特性，在使用的使用很容易陷入困惑，云里雾里，搞不清楚状态。本文将从最基本的知识开始说起，谈谈关于浮动的应用，出...</div>
                <div class="memoBox">2015-11-12采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56440daebf44bc94538c2da1" target="_blank">
                        移动WEB前端开发资源整合
                    </a>
                </div>
                <div class="summaryBox">meta篇
                    1.视窗宽度
                    &amp;lt;meta name=&#34;viewport&#34; content=&#34;width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no&#34;/&amp;gt;
                    其中 width=device-width 是设置视窗宽度为设备视窗宽度...</div>
                <div class="memoBox">2015-11-12采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5642d2c4bf44bc94538c2d9f" target="_blank">
                        浅述编写模块化的 JavaScript
                    </a>
                </div>
                <div class="summaryBox">模块化，就是字面意思的模块化。比如模块化一个表单验证，模块化一个轮播图等。
                    在平常 JavaScript 代码的编写中，我们一般是保持着这样一个顺序。
                    1. 无脑式自然编写
                    function a() {
                    alert(&#34;a&#34;)
                    }

                    function b() ...</div>
                <div class="memoBox">2015-11-11采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5642d2babf44bc94538c2d9d" target="_blank">
                        给 JavaScript 初心者的 ES2015 实战
                    </a>
                </div>
                <div class="summaryBox">给 JavaScript 初心者的 ES2015 实战作者：小问给 JavaScript 初心者的 ES2015 实战

                    前言

                    历时将近6年的时间来制定的新 ECMAScript 标准 ECMAScript 6（亦称 ECMAScript Harmony，简称 ES6）终于在 2015 年 6 月正...</div>
                <div class="memoBox">2015-11-11采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5642a52dbf44bc94538c2d9b" target="_blank">
                        DHH：再想想，什么才算创业成功？_36氪
                    </a>
                </div>
                <div class="summaryBox">编者按：DHH，David Heinemeier Hansson，Basecamp 联合创始人兼 CTO，Ruby On Rails 开发者，《Rework》、《Remote》两本畅销书的作者。跟 Basecamp 另一位不关心公司值多少钱的联合创始人 Jason Fried 一样，他们...</div>
                <div class="memoBox">2015-11-11采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5642a3ffbf44bc94538c2d99" target="_blank">
                        使用Go开发一个 Slack 运维机器人
                    </a>
                </div>
                <div class="summaryBox">受湾区日报的自动化机器人启发：湾区日报的第一个“员工”：Slack/Hubot， 我决定为自己的 side project 写一个自动化的slack运维机器人。
                    uriDB技术流是一个搜集高质量技术文章的网站。主要是由爬虫到一些技术站点...</div>
                <div class="memoBox">2015-11-11采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5641a06bfc07f3723d6ae5eb" target="_blank">
                        JavaScript 各种遍历方式详解，有你不知道的黑科技
                    </a>
                </div>
                <div class="summaryBox">为了方便例子讲解，现有数组和json对象如下
                    var demoArr = [&#39;Javascript&#39;, &#39;Gulp&#39;, &#39;CSS3&#39;, &#39;Grunt&#39;, &#39;jQuery&#39;, &#39;angular&#39;];
                    var demoObj = {
                    aaa: &#39;Javascript&#39;,
                    bbb: &#39;Gulp&#39;,
                    ccc: &#39;CSS3&#39;,
                    ddd: &#39;...</div>
                <div class="memoBox">2015-11-10采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5641a02efc07f3723d6ae5e9" target="_blank">
                        React 源码剖析系列
                    </a>
                </div>
                <div class="summaryBox">this.setState() 方法应该是每一位使用 React 的同学最先熟悉的 API。然而，你真的了解 setState 么？先看看下面这个小问题，你能否正确回答。
                    引子
                    class Example extends React.Component {
                    constructor() {
                    ...</div>
                <div class="memoBox">2015-11-10采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56407c78fc07f3723d6ae5e7" target="_blank">
                        JavaScript设计模式与开发实践
                    </a>
                </div>
                <div class="summaryBox">this
                    JavaScript的this总是指向一个对象，至于指向哪个对象，是在运行时基于函数的执行环境的动态绑定的，而非函数被声明时的环境。
                    this的指向
                    this的指向大致可以分为以下4类：

                    作为对象的方法调用
                    作为普通函数...</div>
                <div class="memoBox">2015-11-09采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/563c7b2ffc07f3723d6ae5e5" target="_blank">
                        Rain Effect Experiments
                    </a>
                </div>
                <div class="summaryBox">Sunday, 24th of October 2043
                    12°C



                    Saturday, 25th of October 2043
                    18°C



                    Monday, 26th of October 2043
                    25°C



                    Wednesday, 28th of October 2043
                    20°C



                    Tuesday, 27th of October 2043
                    34°C</div>
                <div class="memoBox">2015-11-06采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56397328fc07f3723d6ae5e3" target="_blank">
                        平安科技移动开发二队技术周报（特别版のReact Native专题）
                    </a>
                </div>
                <div class="summaryBox">@author ASCE1885的 Github  简书 微博 CSDN
                    随着React Native For Android的发布，React Native俨然已经成为移动开发的一个热门技术选型，本期周报简单总结使用React Native进行开发所需要的技术储备，入门React Na...</div>
                <div class="memoBox">2015-11-04采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/563972b4fc07f3723d6ae5e1" target="_blank">
                        React Native 中组件的生命周期
                    </a>
                </div>
                <div class="summaryBox">概述

                    就像 Android 开发中的 View 一样，React Native（RN） 中的组件也有生命周期（Lifecycle）。所谓生命周期，就是一个对象从开始生成到最后消亡所经历的状态，理解生命周期，是合理开发的关键。RN 组件的生命周...</div>
                <div class="memoBox">2015-11-04采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56397283fc07f3723d6ae5df" target="_blank">
                        数据库软件架构设计些什么
                    </a>
                </div>
                <div class="summaryBox">缘起：受@萧田国 萧总邀请，上周五晚上在“高效运维1号群”内分享了《58同城数据库软件架构设计与实践》（这个topic今年在数据库大会上分享过），应组织方要求，发出纪要。一、基本概念二、数据库架构设计思路（1）...</div>
                <div class="memoBox">2015-11-04采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5636fb61fc07f3723d6ae5dd" target="_blank">
                        timer 的优化故事
                    </a>
                </div>
                <div class="summaryBox">前段时间 Node.js 发布了新版本 4.0，其中涉及到一个更新比较多的模块，那就是下面要介绍的 timer 模块。

                    timers: Improved timer performance from porting the 0.12 implementation, plus minor fixes (Jeremiah ...</div>
                <div class="memoBox">2015-11-02采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5636fb48fc07f3723d6ae5db" target="_blank">
                        try catch 对代码运行的性能影响
                    </a>
                </div>
                <div class="summaryBox">起因
                    要捕获 JavaScript 代码中的异常一般会采用 try catch，不过 try catch 的使用是否是对代码性能产生影响呢？答案是肯定有的，但是有多少不得而知。
                    淘宝前端线上脚本错误的捕获方法：





                    window.JSTracker =...</div>
                <div class="memoBox">2015-11-02采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5636bd9efc07f3723d6ae5d9" target="_blank">
                        松鼠先生-PHP实现敏感词过滤系统
                    </a>
                </div>
                <div class="summaryBox">安装说明安装PHP扩展 trie_filter，安装教程 http://blog.41ms.com/post/39.html安装PHP扩展 swoole，安装教程 http://www.swoole.com/代码说明1、敏感词库维护更新脚本：reload_dict.php，提供自动更新字典库到trie...</div>
                <div class="memoBox">2015-11-02采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56305134fc07f3723d6ae5d7" target="_blank">
                        杰微刊-[译]拳头公司聊天服务架构：服务器篇- 文章
                    </a>
                </div>
                <div class="summaryBox">原文：Chat Service Architecture Servers


                    译者：杰微刊-张帆








                    英雄联盟玩家每天总计发送数百万的信息。他们邀请朋友双排，在英雄选择界面和队伍沟通英雄选择，在战局结束时向所有人敲出&#34;GG&#34;（Good Game）...</div>
                <div class="memoBox">2015-10-28采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/56304ecdfc07f3723d6ae5d5" target="_blank">
                        【10-20】电商项目的库存设计，如何不卖超，取消订单把库存加回去，不能多加
                    </a>
                </div>
                <div class="summaryBox">【今日话题】电商项目的库存设计，如何不卖超，取消订单把库存加回去，不能多加 - 沈括号1. 这个说一个之前处理并发的经验哈，情况应该是类似的，写sql的时候多加一个条件，用update tbl set col = col - num where ...</div>
                <div class="memoBox">2015-10-28采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/5630257ffc07f3723d6ae5d3" target="_blank">
                        从Ecma规范深入理解js中的this的指向
                    </a>
                </div>
                <div class="summaryBox">this是面向对向编程中的一个概念，它一般指向当前方法调用所在的对象，这一点在java、c++这类比较严格的面向对象编程语言里是非常明确的。但是在javascript中，this的定义要灵活许多，如果未准确掌握，非常容易混淆...</div>
                <div class="memoBox">2015-10-28采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562f6b82fc07f3723d6ae5d1" target="_blank">
                        百度员工离职总结：资质平庸的人该怎么办？震惊了无数人！
                    </a>
                </div>
                <div class="summaryBox">天赋秉异的人永远是少数，剩下的都是资质平庸的芸芸众生。相信即使只是普通人，也有一颗不甘于平庸的心。那么资质平庸的人该如何在职场上做出一番成就呢？其实以大多数人的努力程度之低，根本轮不到拼天赋。你需要的...</div>
                <div class="memoBox">2015-10-27采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562eeac9fc07f3723d6ae5cf" target="_blank">
                        Nodejs 实时监控文件内容的变化及按行读取文本文件
                    </a>
                </div>
                <div class="summaryBox">需求问题
                    在使用nodejs开发项目的过程中，有一个需求需要实时监控指定文件的变更并按行读取最新的文件内容，在nodejs中有相应地API么？具体怎么使用呢~~~
                    fs.watchFile-实时监控文件变化
                    nodejs的fs模块提供了watchF...</div>
                <div class="memoBox">2015-10-27采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562cd78efc07f3723d6ae5cd" target="_blank">
                        Uber、Facebook、Pinterest等都是用什么发展模式实现增长的？
                    </a>
                </div>
                <div class="summaryBox">虎嗅注：想要让你的产品在短期内实现指数级的增长，你可能需要组建一个发展团队帮你实现这一目标。那么，你要怎样为你的团队选择最佳发展模式呢？本文作者通过对20名来自不同公司的发展部主管的采访，向大家介绍了两...</div>
                <div class="memoBox">2015-10-25采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562c70e9fc07f3723d6ae5cb" target="_blank">
                        Web重构之道 | css3教程-css3实例-css3动画 | W3CPlus
                    </a>
                </div>
                <div class="summaryBox">前言

                    Web重构之道是今年十月份参加上海Qcon全球软件开发大会的新时代的前端专题的一次分享的主题。这次有幸能跟@达峰、@sofish、@桂川等大神一起同台分享，感到非常的荣幸，也感到无比的压力。还好分享已结束，借此...</div>
                <div class="memoBox">2015-10-25采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562c70c9fc07f3723d6ae5c9" target="_blank">
                        使用ES6进行开发的思考
                    </a>
                </div>
                <div class="summaryBox">ECMAScript6已经于近日进入了RC阶段，而早在其处于社区讨论时，我就开始一直在尝试使用ES6进行开发的方案。在Babel推出后，基于ES6的开发也有了具体可执行的解决方案，无论是Build还是Debug都能得到很好的支持。
                    而...</div>
                <div class="memoBox">2015-10-25采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562c70bffc07f3723d6ae5c7" target="_blank">
                        一步步了解webpack
                    </a>
                </div>
                <div class="summaryBox">前言
                    demo 地址: https://github.com/yy8597/webpack-demos
                    之前学习了 broswerify，发现确实很好用。虽然没有 grunt 那样丰富的配置和插件，但就是觉得“恩！这就是我想要的结构”。webpack 感觉就是 broswerify 的...</div>
                <div class="memoBox">2015-10-25采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562c70b6fc07f3723d6ae5c5" target="_blank">
                        Nginx流量拦截算法
                    </a>
                </div>
                <div class="summaryBox">0x00.About
                    电商平台营销时候，经常会碰到的大流量问题，除了做流量分流处理，可能还要做用户黑白名单、信誉分析，进而根据用户ip信誉权重做相应的流量拦截、限制流量。
                    Nginx自身有的请求限制模块ngx_http_limit_re...</div>
                <div class="memoBox">2015-10-25采集于网络</div>
            </div>
        </li>

        <li class="liBox">
            <div>
                <div class="titleBox">
                    <a href="/article/read/562c70adfc07f3723d6ae5c3" target="_blank">
                        玩转robots协议 -- 其他 -- IT技术博客大学习 -- 共学习 共进步！
                    </a>
                </div>
                <div class="summaryBox">(adsbygoogle = window.adsbygoogle || []).push({});

                    2013年2月8日北京市第一中级人民法院正式受理了百度诉奇虎360违反“Robots协议”抓取、复制其网站内容的不正当竞争行为一案，索赔金额高达一亿元，这可以看...</div>
                <div class="memoBox">2015-10-25采集于网络</div>
            </div>
        </li>

    </ul>
</div>
</body>
</html>