<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="loginBox" class="loginBox">
    <div class="loginByTui">
        <div class="logo"><img src="/images/logo_runningdoctor.png" alt="logo"></div>
        <div class="inputBox">
            <p class="inputP"><span class="shortSpan">账号</span><span class="inputSpanShort"><input id="loginUser" class="inputArea2" type="text" placeholder="Email/手机号/工号" autocomplete="off"></span></p>

            <p class="inputP"><span class="shortSpan">密码</span><span class="inputSpanShort"><input id="password" class="inputArea2" type="password" autocomplete="off"></span></p>

            <p>
                <span id="loginError"></span>
            </p>
            <p>
                <button id="loginBtn" class="btn btn-success" style="background: #20b13b !important;">登录</button>
            </p>
        </div>
    </div>
</div>
</body>
</html>