<div resizable class="minheight singleArticle font-size{{selecteFontSizeIndex}}">
    <div class="aboutArticle">
        <div class="article_info">
            <p class="article_info_img" style="background-image:url('http://img01.ireadhome.com/magazine/defaultcover_300x300.jpg')"
               ng-style="magazine.coverURL!=''&&{'background-image':'url('+magazine.coverURL+')'}"></p>
            <a href="#/magazine/{{magazine.ID}}?userid={{magazine.owner.ID}}"><span>{{magazine.name}}</span></a>
        </div>
        <p class="artcile-summary">{{magazine.summary}}</p>
    </div>

    <div class="bottom-blank minheight articleContent" resizable>
        <div class="{{allFonts[selectedFontIndex]._class}} {{backgroundStyle[selectedBgStyleIndex]}} single-article-content">
            <div class="title">
                <h2>{{article.title}}</h2>
            </div>
            <div class="articleInfo">
                <span class="time">{{article.addTime.substring(0,16).replace('T',' ')}}</span>
                <a class="articleUrl"
                   href="{{article.fromURL}}"
                   target="_blank"
                   display-hostname></a>
            </div>
            <div class="articleTitle"
                 ng-if="article.comment">
                {{article.comment}}
            </div>
            <div class="content" ng-bind-html="article.content" style="min-height: 400px;">
            </div>
        </div>
    </div>
</div>

<div class="contentNull"
     ng-show="showLowQuaility">
    <div class="modal-logo">
        <h2>提示</h2>
    </div>
    <div style="margin: 40px;">
        <h4 style="margin: 15px 0px;">当前网页内容可能并不适合纯净阅读。</h4>
        <h4 style="margin-bottom: 40px;">你可以进行以下操作：</h4>
        <p style="text-align: center">
            <button style="margin-left: -5px;" ng-click="comeBackSource()" class="_four_font" style="background-color: #fff">返回原文</button>
            <button style="margin-left: -5px;" ng-click="showLowQuaility = false" class="_four_font" style="background-color: #fff">继续阅读</button>
        </p>
    </div>
</div>
<div ng-controller="backToTop"
     id="back_top"
     class="back_top c_back_top"
     ng-switch="articleType">
    <b class="c_back_top"
       id="c_back_top"
       ng-click="backTotop()"
       title="返回顶部"></b>
</div>
